/* From Uiverse.io by adamgiebl */ 
.checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--second-color);
    border-radius: 5px;
    background-color: transparent;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .checkbox:before {
    content: "";
    background-color: var(--second-color);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .checkbox:checked:before {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .checkbox-label {
    font-size: 20px;
    color: var(--second-color);
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    font-family: var(--font);
    padding: 5px 10px;
    
           
  }

  .label-text{
    white-space: nowrap;      /* Забороняє переноси рядка */
  overflow: hidden;         /* Приховує текст, що виходить за межі */
  text-overflow: ellipsis;  /* Додає трикрапку */
  width: 400px;         /* Максимальна ширина контейнера */
  }

  .btn-delete{
    padding: 0;
    border: 0;
    color: #A62639;
    cursor:  pointer;
    background-color: transparent;
    margin-left: 20px;
  }